.details{
    margin-top: 3%;
}
.title{
    font-size: 35px;
    font-weight: 750;
    padding: 0px 0px 10px 0px;
}
.wall{
    width: 100%;
}
.des{
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1px;
    margin: 10px 0px 10px 0px;
}
.para p{
    padding-top: 15px;
}